<div class="area">
  <div class="status">
    Próximo jogador: <span>{{ currentPlayer }}</span>
  </div>

  <section class="board">
    <div class="row" *ngFor="let row of board; let rowIndex = index">
      <button
        *ngFor="let cell of row; let colIndex = index"
        (click)="makeMove(rowIndex, colIndex)"
        [disabled]="cell !== '' || winner"
        class="square"
        style="width: 40px; height: 40px"
      >
        {{ cell }}
      </button>
    </div>
  </section>

  <div id="winnerArea" className="winner" class="winner">
    Vencedor: <span>{{ winner || "Sem vencedor" }}</span>
  </div>

  <button (click)="reset()" class="reset-button">Reiniciar jogo</button>
</div>
